{{ if .Site.Params.githubUsername | and .Site.Params.githubRepo -}}
	{{ $path := printf "%s/%s" .Site.Params.githubUsername .Site.Params.githubRepo }}

	{{ if .Site.Params.sidebar.githubButton -}}
	<p>
		<iframe src="https://ghbtns.com/github-btn.html?user={{ .Site.Params.github_user }}&repo={{ .Site.Params.github_repo }}&type=watch&count=true&size=large"
		allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="35px"></iframe>
	</p>
	{{- end }}

	{{ if .Site.Params.sidebar.travisButton -}}
	<p>
		<a href="https://travis-ci.org/{{ $path }}">
			<img
			alt="https://secure.travis-ci.org/{{ $path }}.svg?branch=master"
			src="https://secure.travis-ci.org/{{ $path }}.svg?branch=master"
			/>
		</a>
	</p>
	{{- end }}

	{{ if .Site.Params.sidebar.codecovButton -}}
	<p>
		<a href="https://codecov.io/github/{{ $path }}">
			<img
			alt="https://codecov.io/github/{{ $path }}/coverage.svg?branch=master"
			src="https://codecov.io/github/{{ $path }}/coverage.svg?branch=master"
			/>
		</a>
	</p>
	{{- end }}
{{- end }}