<ul>
	<li class="toctree-l1">
		<a class="reference internal" href="/project/">projects</a>
	</li>
	<li class="toctree-l1">
		<a class="reference internal" href="/link/">links</a>
	</li>
	<li class="toctree-l1">
		<a class="reference internal" href="/snippet/">scripts &amp; snippets</a>
	</li>
	<li class="toctree-l1">
		<a class="reference internal" href="/post/">posts</a>
	</li>

	{{/*
	<!-- menus -->
	{{ range .Site.Menus.main }}
	<li class="toctree-l1">
		<a class="reference internal" href="">Menu: {{ . }}</a>
	</li>
	{{ end }}
	<!-- /menus -->
	*/}}
</ul>