<!-- <h3>Navigation</h3> -->
<ul>
	<li class="toctree-l1">
		<a class="reference internal" href="{{ .Site.BaseURL }}project/">projects</a>
	</li>
	<li class="toctree-l1">
		<a class="reference internal" href="{{ .Site.BaseURL }}snippet/">scripts &amp; snippets</a>
	</li>
	<li class="toctree-l1">
		<a class="reference internal" href="{{ .Site.BaseURL }}post/">posts</a>
	</li>
	<!-- menus -->
	<!-- {{ range .Site.Menus.main }}
	<li class="toctree-l1">
		<a class="reference internal" href="">Menu: {{ . }}</a>
	</li>
	{{ end }} -->
	<!-- /menus -->
</ul>