{{/* Tag cloud from Taxonomy map */}}
<ul class="social">
	{{ if .Site.Params.githubUsername -}}
	<li><a class="social github" href="https://github.com/{{ .Site.Params.githubUsername }}/">
			<img src="/images/1x1.png"
				alt="@{{ .Site.Params.githubUsername }} at GitHub"
				title="@{{ .Site.Params.githubUsername }} at GitHub"
				width="32" height="32"></a>
	</li>
	{{- end }}
	{{ if .Site.Params.twitterUsername -}}
	<li>
		<a class="social twitter" href="https://twitter.com/{{ .Site.Params.twitterUsername }}">
			<img src="/images/1x1.png"
				alt="@{{ .Site.Params.twitterUsername }} on Twitter"
				title="@{{ .Site.Params.twitterUsername }} on Twitter"
				width="32" height="32">
		</a>
	</li>
	{{- end }}
	<li>
		<a class="social rss" href="{{ .Site.RSSLink | relURL }}">
			<img src="/images/1x1.png"
				alt="{{ .Site.Title }} RSS feed"
				title="{{ .Site.Title }} RSS feed"
				width="32" height="32">
		</a>
	</li>
</ul>

{{/*
<div class="tag-cloud">
{{ with .Site.Taxonomies.tags -}}
	<ul class="tags">
  		{{ range $name, $taxonomy := . -}}
    		<li><a class="tag" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
  		{{- end }}
	</ul>
{{- end }}
</div>
*/}}