<!DOCTYPE html>
<html lang="en">
	{{ partial "head" . }}
	<body role="document">
		<div class="document">
			<div class="documentwrapper">
				<div class="bodywrapper">
					<div class="body" role="main">
						<div class="mobile-menu jumpnav">
							<a href="#menu">menu &#9662;</a>
						</div>
						{{ block "main" . }}{{ end }}
						{{ if .Site.DisqusShortname -}}
						{{ if not .IsHome -}}
						{{ template "_internal/disqus.html" . }}
						{{ partial "toplink" }}
						{{- end }}
						{{- end }}
					</div>
				</div>
			</div>

			{{ partial "sidebar/sidebar" . }}
			{{ partial "footer" . }}

			{{ range .Site.Params.custom_js -}}
				<script src="/{{ . }}"></script>
			{{- end }}

			{{ if (eq (getenv "ENV") "dev") -}}
			{{ $jquery := resources.Get "js/jquery-3.3.1.js" }}
			<script type="text/javascript" src="{{ $jquery.RelPermalink }}"></script>
			{{- else -}}
			{{ $jquery := resources.Get "js/jquery-3.3.1.min.js" | resources.Fingerprint }}
			<script type="text/javascript" src="{{ $jquery.RelPermalink }}"></script>
			{{- end }}

      <!-- gitinfo buttons -->
      <script type="text/javascript">
        $(document).ready(function() {
          $( '.gitinfo' ).each(function(i, git) {
            var link = $(git).find('.header a')[0],
                content = $(git).find('.content')[0];

            $(link).on('click', function(ev) {
              $(content).fadeToggle(100);
              return false;
            });
          });
        });
      </script>
      <!-- /gitinfo -->

			<!-- momentjs -->
			<script type="text/javascript">
				// If any time.relative elements are on page, load moment.js
				// and call it to re-format times using relative dates
				$(document).ready(function() {

					if ($('time.relative').length) {
						console.log('loading moment.js ...');
						loadScript(libUrls.momentJS, function() {

							$('time.relative').each(function(i, elem) {

								var dt = $(this).attr('datetime');

								if (dt) {
									var rel = moment(dt).fromNow();

									if (rel != 'Invalid date') {
										console.log('[moment] ' + dt + '  ->  ' + rel);
										$(this).html(rel);
									}
								}
							});
						});
					}
				});
			</script>
			<!-- /momentjs -->

			{{ with .Site.Params.highlightjs -}}
			<!-- highlightjs -->
			<script type="text/javascript">
				// If any <code> elements are on page, load highlight.js
				// and call it to highlight the syntax.
				$(document).ready(function() {
					if ($('code').length) {
						console.log('loading highlight.js ...');
						loadScript(libUrls.highlightJS, function() {
							hljs.initHighlightingOnLoad();
						});
					}
				});
			</script>
			<!-- /highlightjs -->
			{{- end }}

			<!-- jquery.expander -->
			<script type="text/javascript">
				// If any .expandable elements are on page, load jquery.expander.js
				$(document).ready(function() {

					if ($('.expandable').length) {
						console.log('loading jquery.expander.js ...');

						loadScript(libUrls.expanderJS, function() {

							$.expander.defaults.slicePoint = 140;
							$.expander.defaults.expandText = 'more &#9662;';
							$.expander.defaults.userCollapseText = 'less &#9652;';
							$('.expandable').expander();
						});
					}
				});
			</script>
			<!-- /jquery.expander -->

			{{ if (ne (getenv "ENV") "dev") -}}
			{{ if .Site.Params.piwikSiteID -}}
			{{ if .Site.Params.piwikURL -}}
			<!-- Piwik -->
			<script type="text/javascript">
			  var _paq = _paq || [];
			  _paq.push(['trackPageView']);
			  _paq.push(['enableLinkTracking']);
			  (function() {
			    var u="//{{ .Site.Params.piwikURL }}/";
			    _paq.push(['setTrackerUrl', u+'piwik.php']);
			    _paq.push(['setSiteId', {{ .Site.Params.piwikSiteID }}]);
			    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			  })();
			</script>
			<noscript><p><img src="//{{ .Site.Params.piwikURL }}/piwik.php?idsite={{ .Site.Params.piwikSiteID }}" style="border:0;" alt="" /></p></noscript>
			<!-- End Piwik Code -->
			{{- end }}
			{{- end }}
			{{- end }}
			{{ if (and (ne (getenv "ENV") "dev") .Site.Params.createServiceWorker) -}}
				{{ partial "serviceworker" . }}
			{{- end }}
			{{ template "_internal/google_analytics.html" . }}
		</div>
	</body>
</html>
