<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{{ partial "head" . }}
	<body role="document">
		<div class="document">
			<div class="documentwrapper">
				<div class="bodywrapper">
					<div class="body" role="main">
						<div class="mobile-menu jumpnav">
							<a href="#menu">menu &#9662;</a>
						</div>
						{{ block "main" . }}{{ end }}
						{{ if .Site.DisqusShortname -}}
						{{ if not .IsHome -}}
						{{ template "_internal/disqus.html" . }}
						{{ partial "toplink" }}
						{{- end }}
						{{- end }}
					</div>
				</div>
			</div>

			{{ partial "sidebar/sidebar" . }}
			{{ partial "footer" . }}

			{{ range .Site.Params.custom_js -}}
				<script src="/{{ . }}"></script>
			{{- end }}

			{{ with .Site.Params.highlightjs -}}
			<!-- highlight.js -->
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
			<script type="text/javascript">
				hljs.initHighlightingOnLoad();
			</script>
			<!-- /highlight.js -->
			{{- end }}

			<!-- momentjs -->
			<script type="text/javascript">
				// If any time.relative elements are on page, load moment.js
				// and call it to re-format times using relative dates
				$(document).ready(function() {

					if ($('time.relative').length) {
						console.log('loading moment.js ...')
						loadScript('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js', function() {

							$('time.relative').each(function(i, elem) {

								var dt = $(this).attr('datetime');

								if (dt) {
									var rel = moment(dt).fromNow();

									if (rel != 'Invalid date') {
										console.log('[moment] ' + dt + '  ->  ' + rel);
										$(this).html(rel);
									}
								}
							});
						});
					}
				});
			</script>
			<!-- /momentjs -->

			<!-- octicons -->
			<script type="text/javascript">
				// Load Octicons if there are any i.octicon elements on the page
				$(document).ready(function() {
					if ($('i.octicon').length) {
						console.log('loading Octicons ...')
						$('head').append('<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />');
					}
				});
			</script>
			<!-- /octicons -->

			<!-- highlightjs -->
			<script type="text/javascript">
				// If any code.hljs elements are on page, load highlight.js
				// and call it to highlight the syntax.
				$(document).ready(function() {

					if ($('code.hljs').length) {
						console.log('loading highlight.js ...')
						loadScript('//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js', function() {
							hljs.initHighlightingOnLoad();
						});
					}
				});
			</script>
			<!-- /highlightjs -->

			<!-- jquery.expander -->
			<script type="text/javascript">
				// If any .expandable elements are on page, load jquery.expander.js
				$(document).ready(function() {

					if ($('.expandable').length) {
						console.log('loading jquery.expander.js ...')

						loadScript('//cdnjs.cloudflare.com/ajax/libs/jquery-expander/1.7.0/jquery.expander.min.js', function() {

							$.expander.defaults.slicePoint = 140;
							$.expander.defaults.expandText = 'more &#9662;';
							$.expander.defaults.userCollapseText = 'less &#9652;';
							$('.expandable').expander();
						});
					}
				});
			</script>
			<!-- /jquery.expander -->

			{{ if .Site.Params.piwikSiteID -}}
			{{ if .Site.Params.piwikURL -}}
			<!-- Piwik -->
			<script type="text/javascript">
			  var _paq = _paq || [];
			  _paq.push(['trackPageView']);
			  _paq.push(['enableLinkTracking']);
			  (function() {
			    var u="//{{ .Site.Params.piwikURL }}/";
			    _paq.push(['setTrackerUrl', u+'piwik.php']);
			    _paq.push(['setSiteId', {{ .Site.Params.piwikSiteID }}]);
			    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			  })();
			</script>
			<noscript><p><img src="//{{ .Site.Params.piwikURL }}/piwik.php?idsite={{ .Site.Params.piwikSiteID }}" style="border:0;" alt="" /></p></noscript>
			<!-- End Piwik Code -->
			{{- end }}
			{{- end }}

			{{ template "_internal/google_analytics.html" . }}
		</div>
	</body>
</html>