{{/*
Render a /user/NNN/events/public response from the GitHub API:
https://developer.github.com/v3/activity/events/types/
*/}}
<ul class="github events">
	{{ range . -}}
	<li class="event">
		<div class="event">
			<span class="date">[{{ dateFormat "2006-01-02 03:04" .created_at }}]</span>
			{{/*<span class="input">input({{ .type }})</span>*/}}
			<span class="action">
			{{ if eq .type "WatchEvent" -}}
				{{if eq .payload.action "started" -}}starred{{- else -}}unstarred{{- end }}
				<a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>
			{{ else if eq .type "PushEvent" -}}pushed to <a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>
			{{ else if eq .type "ForkEvent" -}}forked
			<a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>
			to <a href="{{ .payload.forkee.html_url }}">{{ .payload.forkee.full_name }}</a>
			{{ else if eq .type "CreateEvent" -}}created
				{{ if eq .payload.ref_type "tag" -}}tag <a href="https://github.com/{{ .repo.name }}/tag/{{ .payload.ref | urlize }}">{{ .payload.ref }}</a> in
				{{- end }}
			{{ else if eq .type "ReleaseEvent" -}}made a new release at
			{{ else if eq .type "IssueEvent" -}}{{ .payload.action }}
				<a href="{{ .payload.issue.html_url }}">#{{ .payload.issue.number }} <span class="issue">{{ .payload.issue.title }}</span></a> in
			{{ else if findRE ".*CommentEvent" .type -}}<a href="{{ .payload.comment.html_url }}">commented</a> on
				{{ if eq .type "CommitCommentEvent" -}}a commit in
				{{ else if eq .type "IssueCommentEvent" -}}
					<a href="{{ .payload.issue.html_url }}">#{{ .payload.issue.number }} <span class="issue">{{ .payload.issue.title }}</span></a> in
				{{- end }}
				<a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>
			{{- else -}}
				did something <span class="input">[{{ .type }}]</span> with
				<a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>
			{{- end }}
			</span>
			{{/*<a href="https://github.com/{{ .repo.name }}">{{ .repo.name }}</a>*/}}
	</div>
	{{ end }}
</ul>