{{/*
Render a /user/NNN/repos response from the GitHub API
*/}}
<ul class="github projects">
	{{ range . -}}
	<li class="project">
		<div class="details">
			<header>
				<a href="{{ if .homepage -}}{{ .homepage }}{{ else }}{{ .html_url }}{{- end }}"><code>{{ .name }}</code></a>
				<span class="status">
					<a href="{{ .html_url }}/stargazers">{{ .stargazers_count }} {{ if eq (int .stargazers_count) 1 -}}star{{-  else -}}stars{{- end }}</a>
				</span>
			</header>
			<p class="summary">{{ .description }}</p>
			<ul class="meta">
				{{ if .homepage -}}
				<li><a href="{{ .homepage }}">homepage</a></li>
				{{- end }}
				<li><a href="{{ .html_url }}">{{ .full_name }}</a> on GitHub</li>
				<li><a href="{{ .html_url }}/issues">issues</a> <span class="status">({{ .open_issues_count }} open)</span></li>
				<li>last pushed <time class="relative" datetime="{{ dateFormat "2006-01-02 15:04:05Z" .pushed_at }}">{{ dateFormat "2 Jan, 2006" .pushed_at }}</time></li>
			</ul>
		</div>
	</li>
	{{ end }}
</ul>