{{/*
If there is more than one page of results, show "previous/next page" links
and links to each page of results.
*/}}
{{ if (or .HasPrev .HasNext) }}
<ul class="pagination">
	{{ if .HasPrev }}
	<li class="previous"><a href="{{ .Prev.URL }}"><span class="page">&#9666; previous</span></a></li>
	{{ else }}
	<li class="previous disabled"><span class="page">&#9666; previous</span></li>
	{{- end }}

	{{ $curPage := .PageNumber }}
	{{ range .Pagers }}
		{{ if eq .PageNumber $curPage  }}
		<li class="current number"><span class="page">{{ .PageNumber }}</span></li>
		{{ else }}
		<li class="number"><a href="{{ .URL }}"><span class="page">{{ .PageNumber }}</span></a></li>
		{{ end }}
	{{ end }}

	{{ if .HasNext -}}
	<li class="next"><a href="{{ .Next.URL }}"><span class="page">next &#9656;</span></a></li>
	{{ else }}
	<li class="next disabled"><span class="page">next &#9656;</span></li>
	{{- end }}
</ul>
{{ end }}