{{/* Render a /user/NNN/repos response from the GitHub API */}}
<ul class="github projects">
	{{ range . }}
	<li class="project">
		<h2>
			<a href="{{ if .homepage -}}{{ .homepage }}{{ else }}{{ .html_url }}{{- end }}">{{ .name }}</a>
			<span class="status"><a href="{{ .stargazers_url }}">{{ .stargazers_count }} {{ if eq .stargazers_count 1 -}}star{{  else }}stars{{- end }}</a></span>
		</h2>
		<div class="summary">{{ .description }}</div>
		<ul class="meta">
			{{ if .homepage -}}
			<li><a href="{{ .homepage }}">homepage</a></li>
			{{- end }}
			<li><a href="{{ .html_url }}">{{ .full_name }}</a> on GitHub</li>
			<li><a href="{{ .html_url }}/issues">issues</a> <span class="status">({{ .open_issues_count }} open)</span></li>
			<li>last push on {{ dateFormat "2 Jan, 2006" .pushed_at }}</li>
		</ul>
	</li>
	{{ end }}
</ul>