{{ define "main" }}
	{{ print "<!-- index.html -->" | safeHTML }}
	<h1>{{ .Title }}</h1>

	{{ .Content }}

	{{ $recent := slice }}
	{{ range (first .Site.Params.homepageRecentEvents .Site.Data.github.events) }}
		{{ if not (in $.Site.Params.repos.ignored .repo.name) }}
			{{ $recent = $recent | append (dict "time" (time .created_at) "event" . ) }}
		{{ end }}
	{{ end }}
	{{ range (first .Site.Params.homepageRecentLinks .Site.Data.pinboard.posts) -}}
		{{ $recent = $recent | append (dict "time" (time .time) "post" . ) }}
	{{- end }}
	{{ range (first .Site.Params.homepageRecentPosts .Site.RegularPages) -}}
		{{ $recent = $recent | append (dict "time" .Date "page" . ) }}
	{{- end }}
	<ul class="events links posts">
	{{ range sort $recent "time" "desc" }}
		{{ with .page }}
			{{ partial "preview" . }}
		{{ end }}
		{{ with .event }}
			{{ partial "github/events/single" . }}
		{{ end }}
		{{ with .post }}
			{{ partial "pinboard/single" . }}
		{{ end }}
		{{/* <code>{{ . }}</code> */}}
	{{ end }}
	</ul>
	{{ partial "toplink" }}
{{- end }}
{{/*  vim: set ft=gohtmltmpl ts=4 sw=4 tw=80 noet :  */}}
