{{ define "main" }}
	{{ print "<!-- weather.html -->" | safeHTML }}
	<h1>{{ .Title }}</h1>

	{{ .Content }}

	{{ with .Site.Data.darksky.forecast -}}
	<section class="current">
		<h2>Current conditions</h2>

		{{ with .currently -}}
			{{ partial "darksky/forecast" . }}
		{{- end }}
	</section>

	<section class="later">
		<h2>Later</h2>

		{{ range .hourly.data -}}
			{{ partial "darksky/forecast" . }}
		{{- end }}
	</section>
	{{- end }}

	<script type="text/javascript" src="{{ $.Site.BaseURL }}js/weather.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			var w = new Weather();
			w.run();
		});
	</script>

{{ end }}